{{page-title "CsTest"}}

<div id="test1">
  <p>
    Using changeset-get
    <Testselect
      @options={{this.leaves}}
      @changeset={{changeset this.trunk}}
      @propertyName="branch.leaf"
      @displayField="description"
    />
  </p>
</div>


<div id="test1">
  <p>
    Using Ember get
    <Testselect2
      @options={{this.leaves}}
      @changeset={{changeset this.trunk}}
      @propertyName="branch.leaf"
      @displayField="description"
    />
  </p>
</div>

{{outlet}}